.preto{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size:30px;
    
}


.vermelho{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 2, 2);
    color: white;
    cursor: pointer;
    font-size:30px;

}